.git
.turbo
node_modules
**/node_modules
**/.next
**/.turbo
**/.swc
**/dist
**/*.tsbuildinfo

.env
.env.local
.env.*.local
pascal-ai-mcp/.env
pascal-ai-mcp/.data

apps/ifc-converter/public/test-ifc-files

